*{
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body,html{
  overflow-x: hidden;
}
.webgl{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

nav{
  color: white;
  position: relative;
  padding: 4rem 8rem;
  display: flex;
  justify-content: space-between;
}
nav a{
  text-decoration: none;
  color: white;
}
nav ul{
  list-style: none;
  display: flex;
  gap: 4rem;
}

.title{
  color: white;
  position: absolute;
  font-size: 3rem;
  left: 50%;
  top: 75%; 
  transform:translate(-50%,-75%);
}